body {
  background-color: rgb(251, 247, 221);
}

.container {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.box-left {
  display: flex;
  width: 1000px;
  height: 640px;
  background-color: #ece99d;
  flex-wrap: wrap;
  border-radius: 15px;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.list-food {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  width: 300px;
  height: 230px;
  background-color: #b3d56a;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 10px;
}

img {
  width: 180px;
  height: 120px;
}

.text-foodInfo {
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 25px;
}

.text-foodPrice {
  color: red;
}

.box-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 15px;
}

.list-shoppingbasket {
  width: 300px;
  height: 400px;
  background-color: #eeeeee;
  overflow: auto;
  border-radius: 10px 10px 0px 0px;
}

.list-order {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 100px;
  margin-bottom: 10px;
  font-size: 16px;
}

.btn-delete {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
span {
  width: 70px;
}

.box-total {
  display: flex;
  align-self: flex-end;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: #eeeeee;
  border-radius: 15px;
  text-align: center;
}
