.footer {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.btn-cancel,
.btn-confirm {
  width: 120px;
  text-align: center;
  line-height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.2s;
}

.btn-cancel {
  background-color: #ed5564;
  color: white;
}
.btn-cancel:hover {
  background: #aa1e31;
}

.btn-confirm {
  background-color: #5f9cec;
  color: white;
}

.btn-confirm:hover {
  background-color: #2761ad;
}
